@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-env-safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* user-select: none; */
}

body {
  /* background: #ededed; */
  background: rgb(121, 115, 236);
}

table {
  background-color: transparent !important;
  border-collapse: separate;
  /* border-spacing: 10px; */
}

td,
th {
  /* border-bottom: 1px solid #000000 !important; */
  padding: 2px; /* Adjust the value to set the cell padding */
  /* border-width border-style border-color */
}

tr {
  margin: 3rem 0;
}
