@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-env-safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  --max-width: 700px;

  /* --primary-color: rgb(41, 41, 41);
  --secondary-color: rgb(27, 27, 27);
  --card-bg-color: rgb(51, 51, 51); */
  /* --primary-color: rgb(33, 36, 38); */
  --ion-ripple-color: transparent;
  --ion-text-color: white;
  --primary-color: rgb(22, 21, 21);
  --secondary-color: rgb(27, 27, 27);
  /* --card-bg-color: rgb(42, 47, 50); */
  --card-bg-color: rgb(27, 27, 28);
  --card-shadow-color: rgb(31, 35, 36);
  --border-bottom-color: rgb(54, 49, 49);
  /* --card-border-radius:  */
  --missed-status-color: #b62e2e;
  --jamaah-status-color: #448b75;
  --late-status-color: #ea580c;
  --alone-male-status-color: #bcaa4b;
  --alone-female-status-color: #448b75;
  --excused-status-color: #b317ae;
}

* {
  /* box-sizing: border-box; */
  /* margin: 0; */
  /* padding: 0; */
  user-select: none;
}

*:focus {
  outline: none;
}

input:focus,
button:focus {
  outline: none;
  border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  /* overflow: scroll; */
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* overflow: hidden; */
  --ion-background-color: var(--primary-color);
  background: var(--primary-color);
  --ion-text-color: rgb(184, 184, 184);
  font-family: sans-serif;
}

body:-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.app {
  /* overflow-x: hidden;
  max-width: var(--max-width); */
}

ion-title {
  color: #fff;
}

ion-modal {
  --background: var(--primary-color) !important;
  color: var(--text-color);
}

ion-modal::part(backdrop) {
  /* background-color: rgba(0, 0, 0, 1) !important; */
}

ion-textarea {
  max-height: 50px !important;
  overflow-y: auto;
}

ion-textarea textarea {
  /* max-height: 50px !important;
  overflow-y: auto; */
}

ion-tab-bar {
  --background: var(--primary-color);
  --color: grey;
  --color-selected: white;
}

.modal-fit-content {
  --height: auto;
}

.modal-height {
  --height: 95vh;
}

.settings-page-wrap,
.stats-page-wrap,
.home-page-wrap {
  max-width: var(--max-width);
  overflow-x: hidden;
}

.header-toolbar {
  --background: var(--primary-color);
}

.settings-page-options-wrap,
.stats-page-components-wrap,
.home-page-components-wrap {
  margin: 1rem;
}

input[type="date"] {
  background-color: gray;
  border-radius: 0.3rem;
  color: white;
  border: none;
  color-scheme: dark;
  padding: 0.3rem;
}

.checkbox-wrap {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}

textarea {
  resize: none !important;
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

.header-wrap {
  background: var(--primary-color);
}

td {
  border-bottom: var(--border-bottom-color) !important;
}

.swiper {
  width: 100%;
  border-radius: 1rem;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.7;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

.changelog-individual-log:first-of-type {
  color: rgb(92 107 192);
}

.salah-status-modal-reasons-wrap {
  transition: max-height 0.3s ease-in-out;
  overflow-y: auto;
}

.calendar-single-month-wrap {
  direction: ltr;
}

.ReactVirtualized__Grid,
.ReactVirtualized__Table__Grid,
.ReactVirtualized__Grid__innerScrollContainerm,
.ReactVirtualized__Table__row,
.ReactVirtualized__Table__headerRow {
  width: 95vw !important;
  max-width: var(--max-width);
}

.ReactVirtualized__Grid__innerScrollContainer {
  max-width: 95vw !important;
}

.ReactVirtualized__Table__headerRow {
  text-transform: none;
  font-weight: 400;
  font-size: 0.9rem;
}

.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 0;
}

.ReactVirtualized__Table__headerColumn {
  margin-right: 0;
  /* line-height: 1; */
}
.ReactVirtualized__Table__headerTruncatedText {
  /* text-overflow: clip; */
}

.ReactVirtualized__Table__row {
  border-bottom: 1px solid rgb(38, 38, 38);
}

.ReactVirtualized__Table__rowColumn {
  position: relative !important;
  height: 100%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactVirtualized__Table__rowColumn:first-child {
  justify-content: start !important;
}

.ReactVirtualized__Table__rowColumn:nth-child(2),
.ReactVirtualized__Table__rowColumn:nth-child(3),
.ReactVirtualized__Table__rowColumn:nth-child(4),
.ReactVirtualized__Table__rowColumn:nth-child(5),
.ReactVirtualized__Table__rowColumn:nth-child(6) {
  /* justify-content: start !important; */
}

.ReactVirtualized__Grid__innerScrollContainer {
  overflow-x: scroll !important;
}

.salah-table-wrap {
  position: static !important;
  height: 100%;
  overflow: hidden;
}

/* .streaks-list-excused-text:before */

.donut-pie-chart-text:before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  border-radius: 0.15rem;
  width: 10px;
  height: 10px;
}

/* 
@supports not (-webkit-touch-callout: none) {
  /* CSS for non-iOS devices */
/* .navbar-wrap {
    padding-bottom: 0.5rem;
  } */
/* } */

@supports (-webkit-touch-callout: none) {
  /* CSS for only iOS devices */
  input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }

  .modal-height {
    --height: calc(100dvh - 10vh);
  }
}

input[type="date"] {
  color: white;
  background-color: rgb(67, 67, 67);
}

/* CHECKBOX STYLING */

[type="checkbox"] {
  width: 0.9rem;
  height: 0.9rem;
  color: dodgerblue;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type="checkbox"]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #676767;
}

/* Checked */

[type="checkbox"]:checked {
  background-color: currentcolor;
}

[type="checkbox"]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
