@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-env-safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  --max-width: 700px;

  /* --primary-color: rgb(244, 245, 249); */
  --primary-color: rgb(237, 237, 237);
  /* --primary-color: rgb(250, 248, 244); */
  --secondary-color: rgb(200, 200, 200);
  /* --ion-text-color: rgba(13, 13, 13, 1); */
  --ion-text-color: rgb(0, 0, 0);
  --card-bg-color: rgb(247, 247, 247);
  --sheet-option-bg: rgb(240, 240, 240);
  --card-shadow-color: rgb(234, 234, 234);
  --app-border-color: rgba(233, 233, 233, 1);
  --toast-bg-color: #262626;
  --toast-text-color: #fff;
  --table-row-border-color: rgb(227, 227, 227);
  --nav-tab-color: #373737;
  --nav-active-tab-color: #3880ff;
  --ios-action-sheet-background: #f9f9f9;
  /* --nav-selected-tab-color: #2e004d; */
  --segment-bg-color: rgb(223, 223, 223);
  --segment-active-color: rgb(255, 255, 255);
  --table-dot-icon-color: rgba(71, 71, 71, 0.9);
  --textarea-bg-color: rgb(206, 206, 206);
  --missed-salah-sheet-btn-color: rgb(206, 206, 206);
  --wreath-color: #000000;
  --reasons-bg-color-status-sheet: rgb(227, 227, 227);
  --reasons-bg-active-color-status-sheet: #8acefc;
  --calendar-arrow-btn-color: #d2d2d2;
  --reasons-bar-bg: #888888;
  --scrollbar-track: rgb(103, 103, 103);
  --scrollbar-thumb: #d0d0d0;

  --missed-status-color: #b62e2e;
  --jamaah-status-color: #448b75;
  --late-status-color: #ea580c;
  --alone-male-status-color: #bcaa4b;
  --alone-female-status-color: #448b75;
  --excused-status-color: #b317ae;
}

body.dark {
  --primary-color: rgb(22, 21, 21);
  --secondary-color: rgb(27, 27, 27);
  --ion-text-color: rgb(255, 255, 255);
  --card-bg-color: rgb(27, 27, 28);
  --sheet-option-bg: rgb(37, 37, 37);
  --card-shadow-color: rgb(31, 35, 36);
  --app-border-color: rgba(54, 49, 49, 1);
  --toast-bg-color: #d4d4d4;
  --toast-text-color: #000000;
  --table-row-border-color: rgb(38, 38, 38);
  --nav-tab-color: grey;
  --ios-action-sheet-background: rgb(36, 36, 36);
  --segment-bg-color: rgb(52, 53, 56);
  --segment-active-color: rgb(100, 103, 112);
  --nav-active-tab-color: white;
  --table-dot-icon-color: rgba(180, 180, 180, 0.9);
  --textarea-bg-color: rgb(38, 38, 38);
  --missed-salah-sheet-btn-color: rgb(50, 50, 50);
  --wreath-color: #e9e9e9;
  --reasons-bg-color-status-sheet: rgb(44, 44, 44);
  --reasons-bg-active-color-status-sheet: #2563eb;
  --calendar-arrow-btn-color: #424242;
  --reasons-bar-bg: #282828;
  --scrollbar-track: rgb(103, 103, 103);
  --scrollbar-thumb: #bebebe;
  --ion-color-step-850: rgb(255, 255, 255);
  --ion-text-color-step-150: rgb(255, 255, 255);
}

* {
  /* box-sizing: border-box; */
  /* margin: 0; */
  /* padding: 0; */
  user-select: none;
}

*:focus {
  outline: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  --ion-background-color: var(--primary-color);
  background: var(--primary-color);
  color: var(--ion-text-color);
  font-family: sans-serif;
}

body:-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.hide-scrollbar::-webkit-scrollbar {
  /* display: none; */
}

.scrollable-container::-webkit-scrollbar {
  width: 3px;
}

.scrollable-container::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: var(--scrollbar-track);
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
}

/* .scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
} */

.center {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.swiper .swiper-pagination {
  top: 0;
  bottom: auto;
  text-align: center;
  position: absolute;
  width: 100%;
}

input:focus,
button:focus {
  outline: none;
  border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.options-wrap {
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  display: flex;
  background-color: var(--sheet-option-bg);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
}

ion-title {
  /* color: #fff; */
}

ion-toolbar p {
  color: var(--ion-text-color) !important;
}

ion-segment {
  --background: var(--segment-bg-color);
}

ion-segment-button {
  min-width: auto;
  --indicator-color: var(--segment-active-color);
}

ion-modal {
  --background: var(--card-bg-color) !important;
  color: var(--text-color);
}

ion-modal::part(backdrop) {
  /* background-color: rgba(0, 0, 0, 1) !important; */
}

ion-alert {
  --background: var(--card-bg-color) !important;
  color: var(--text-color);
}

ion-select-option {
  --color: blue; /* changes option text color */
}

ion-textarea {
  max-height: 50px !important;
  overflow-y: auto;
}

ion-textarea,
input {
  color: var(--ion-text-color) !important;
  /* background: var(--textarea-bg-color) !important; */
}

ion-input {
  background: var(--textarea-bg-color) !important;
}

ion-textarea textarea {
  /* --color: var(--ion-text-color) !important; */
}

ion-loading {
  --background: var(--ion-background-color) !important;
}

ion-toolbar {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

ion-toast {
  --background: var(--toast-bg-color);
  --color: var(--toast-text-color);
}

ion-tab-bar {
  --background: var(--primary-color);
  --color: var(--nav-tab-color);
  --color-selected: var(--nav-active-tab-color);
}

ion-button::part(native) {
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --ripple-color: transparent;
  opacity: 1 !important;
  transition: none !important;
}

ion-button {
  -webkit-tap-highlight-color: transparent;
}

ion-picker {
  --highlight-background: var(--primary-color);
  filter: brightness(0.8);
  --fade-background-rgb: var(--card-bg-color) !important;
  /* --highlight-border-radius: 50px; */
}

ion-checkbox::part(container) {
  border: 1px solid var(--app-border-color);
}

ion-content {
  /* --background: transparent; */
}

.action-sheet-title.sc-ion-action-sheet-md,
.sc-ion-action-sheet-md {
  --color: var(--ion-text-color);
}

.action-sheet-custom .action-sheet-button.sc-ion-action-sheet-md {
  --color: var(--ion-text-color);
  color: var(--ion-text-color);
}

.detecting-location-spinner {
  color: var(--ion-text-color);
}

.action-sheet-group.sc-ion-action-sheet-ios {
  --background: var(--ios-action-sheet-background);
  background: var(--ios-action-sheet-background) !important;
}

.action-sheet-title.sc-ion-action-sheet-md {
  opacity: 0.6;
}

.modal-fit-content {
  --height: auto;
}

.modal-height {
  --height: 95vh;
}

.modal-header-margin {
  margin: 1rem 0;
}

.settings-page-wrap,
.stats-page-wrap,
.home-page-wrap {
  max-width: var(--max-width);
  overflow-x: hidden;
}

.header-toolbar {
  --background: var(--primary-color);
}

.settings-page-options-wrap,
.stats-page-components-wrap,
.home-page-components-wrap,
.salah-times-page-components-wrap {
  margin: 1rem;
}

.checkbox-wrap {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}

textarea {
  resize: none !important;
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

td {
  border-bottom: var(--table-row-border-color) !important;
}

.swiper {
  width: 100%;
  border-radius: 1rem;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper-pagination-bullet {
  background-color: rgb(138, 138, 138);
  opacity: 0.7;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--ion-text-color);
  opacity: 1;
}

.changelog-individual-log:first-of-type {
  color: rgb(92 107 192);
}

.salah-status-modal-reasons-wrap {
  transition: max-height 0.3s ease-in-out;
  overflow-y: auto;
}

.calendar-single-month-wrap {
  direction: ltr;
}

.ReactVirtualized__Grid,
.ReactVirtualized__Table__Grid,
.ReactVirtualized__Grid__innerScrollContainerm,
.ReactVirtualized__Table__row,
.ReactVirtualized__Table__headerRow {
  width: 95vw !important;
  max-width: var(--max-width);
}

.ReactVirtualized__Grid__innerScrollContainer {
  max-width: 95vw !important;
}

.ReactVirtualized__Table__headerRow {
  text-transform: none;
  font-weight: 400;
  font-size: 0.9rem;
}

.ReactVirtualized__Table__headerColumn:first-of-type {
  margin-left: 0;
}

.ReactVirtualized__Table__headerColumn {
  margin-right: 0;
  /* line-height: 1; */
}
.ReactVirtualized__Table__headerTruncatedText {
  /* text-overflow: clip; */
}

.ReactVirtualized__Table__row {
  border-bottom: 1px solid var(--table-row-border-color);
}

.ReactVirtualized__Table__rowColumn {
  position: relative !important;
  height: 100%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactVirtualized__Table__rowColumn:first-child {
  justify-content: start !important;
}

.ReactVirtualized__Table__rowColumn:nth-child(2),
.ReactVirtualized__Table__rowColumn:nth-child(3),
.ReactVirtualized__Table__rowColumn:nth-child(4),
.ReactVirtualized__Table__rowColumn:nth-child(5),
.ReactVirtualized__Table__rowColumn:nth-child(6) {
  /* justify-content: start !important; */
}

.ReactVirtualized__Grid__innerScrollContainer {
  overflow-x: scroll !important;
}

.salah-table-wrap {
  position: static !important;
  height: 100%;
  overflow: hidden;
}

/* .streaks-list-excused-text:before */

.donut-pie-chart-text:before {
  content: "";
  display: inline-block;
  margin-right: 0.3rem;
  border-radius: 0.15rem;
  width: 10px;
  height: 10px;
}

.setting-bottom-border section:not(:last-of-type) {
  border-bottom: 1px solid var(--settings-page-borders);
}

/* 
@supports not (-webkit-touch-callout: none) {
  /* CSS for non-iOS devices */
/* .navbar-wrap {
    padding-bottom: 0.5rem;
  } */
/* } */

@supports (-webkit-touch-callout: none) {
  /* CSS for only iOS devices */
  input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }

  .modal-height {
    --height: calc(100dvh - 10vh);
  }

  ion-app {
    margin-bottom: 0;
    transition: margin-bottom 420ms;
  }
}

/* CHECKBOX STYLING */

[type="checkbox"] {
  width: 0.9rem;
  height: 0.9rem;
  color: dodgerblue !important;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type="checkbox"]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #676767;
}

/* Checked */

[type="checkbox"]:checked {
  background-color: currentcolor;
}

[type="checkbox"]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
