@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-env-safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* user-select: none; */
}

body {
  background: grey;
}
